BasedOnStyle: LLVM
IndentWidth: 2
ColumnLimit: 120
# Force blocks, functions, and control statements onto one line
AllowShortBlocksOnASingleLine: false
AllowShortFunctionsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortLambdasOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
BreakBeforeBraces: Attach
